body{
    background-color: #FFE8FF;
}

.head{
    background-color: #D4FFFF;
    height: 120;
}

.btn{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: auto;
    height: 30px;
    background: #FFFFDE;
    font-size: 23px;
    text-align: center;
    border-radius: 10px;
    border: 0;	
}

.btn1{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    background: #DEFFDE;
    font-size: 23px;
    border-radius: 10px;
    border: 0;	
}